---
title: Windham Labs &mdash; About us
layout: base.njk
permalink: /about-us.html
isAbout: true
---

    <div>
      <p>&nbsp;</p>
    </div>

    <div class="site-section" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <p>&nbsp;<br/>&nbsp;<br/>&nbsp;</p>
            <h2 class="section-title mb-3">About Windham Labs</h2>
            <p>Windham Labs, a division of  <a href="https://www.windhamcapital.com" target="_blank">Windham Capital Management, LLC</a>,  is a global leader in investment technology and research. Investors worldwide rely on Windham’s accessible service, sophisticated products, and comprehensive solutions.</p>

            <p>We offer a suite of sophisticated portfolio construction and risk management products that embody the many innovations Windham has brought to the investment industry, including: mean-variance-tracking error optimization, within-horizon risk measurement, full-scale optimization, and regime-dependent portfolio construction. Windham’s research has been recognized with three Graham Dodd awards, the Research Prize from the Institute of Quantitative Research, and nine Bernstein-Fabozzi/Jacobs-Levy awards.</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="images/undraw_bookmarks_r6up.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 ml-auto pl-lg-5">
            <h2 class="text-black mb-4 h3 font-weight-bold">Our Mission</h2>
            <p class="mb-4">At Windham Labs, our mission is to deliver innovative investment technology and research that impacts the way the world’s most sophisticated investors manage assets. We seek to challenge conventional thinking, formulate new ideas, and provide access to the latest innovations in financial theory and practice. We work closely with our clients to provide a complete service relationship which includes support from Windham’s client servicing team and exclusive access to our acclaimed independent research.</p>

            <div>
              <a href="#leadership" class="btn btn-primary mr-2 mb-2">Meet Our Founders</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="feature-big">
      <div class="container">
        <div id="leadership"></div>
        <div class="mt-5 row mb-5 site-section ">
          <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left">
            <img src="images/photos/mark-kritzman.png" alt="Mark Kritzman" class="img-fluid">
          </div>
          <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
            <h3><span class="text-black">Mark Kritzman</span>
            <br/><span style="font-size:0.75em;">Founding Partner, CEO</span></h3>

            <p>Mark is the Founding Partner and CEO of Windham Labs. He is responsible for managing research activities and advisory services. Mark is also a Founding Partner of State Street Associates and he teaches a graduate finance course at the Massachusetts Institute of Technology. Mark has written numerous articles for peer-reveiwed journals and reviewed journals and is the author or co author of eight books including Asset Allocation: From Theory to Practice and Beyond, Puzzles of Finance, and The Portable Financial Analyst. His thought leadership in asset allocation and risk management is embodied in Windham's solutions.</p>
          </div>
        </div>
        <div class="mt-5 row mb-5 site-section ">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="images/photos/cel-kulasekaran.png" alt="Cel Kulasekaran" class="img-fluid">
          </div>
          <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
            <h3><span class="text-black">Cel Kulasekaran</span>
            <br/><span style="font-size:0.75em;">Co-Founder, Managing Partner</span></h3>

            <p>Cel is the Co-Founder and Managing Partner of Windham Labs. He is responsible for the research and development of Windham's solutions and proprietary technologies. He also serves as the Head of Risk Management for Windham's Liquid Alternatives. Since co-founding Windham Labs in 2004, Cel has led applied research at Windham for asset management, software, and advisory initiatives. He continues to spearhead innovations in computational finance, asset allocation, and risk management for our clients worldwide.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section testimonial-wrap bg-light" id="testimonials-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <h2 class="section-title mb-3">Our Clients</h2>
            <p>Since 2004, Windham Labs has led the industry in providing innovative technology and research to sophisticated investors. Using the robust capabilities of our software tools, our diverse breadth of clients have been able to construct efficient portfolios that meet their own clients unique set of needs. Registered investment advisors, single-and-multi family offices, banks, endowments and foundations, sovereign funds, and investment managers use Windham's solutions to build and manage portfolios with confidence.</p>
          </div>
        </div>
      </div>
    </div>
