---
title: Windham Labs &mdash; Contact Us!
layout: base.njk
permalink: /contact-us.html
isContact: true
---

    <div style="padding-top:50px;">
      <p>&nbsp;<br/>&nbsp;<br/>&nbsp;</p>
      <div class="container">
        <div class="">
          <iframe src="https://forms.monday.com/forms/embed/c14792072797e0cf95b7add5094283e1" width="100%" height="850" style="border: 0; box-shadow: 0 rgba(0,0,0,0.0);"></iframe>
        </div>
      </div>
    </div>

    <div style="text-align:center;">
      <div class="container">
        <h2>Windham Labs</h2>
        <p>245 Main Street, 2nd Floor<br/>
           Cambridge, MA 02142<br/>
           United States of America<br></p>
        <p>T. +1 (617) 419-3900<br/>
           E. <a href="mailto:support@windhamlabs.com">support@windhamlabs.com</a>
        </p>
      </div>
    </div>
