---
title: Windham Labs &mdash; Insights
layout: base.njk
permalink: /insights.html
isInsights: true
---

    <div class="site-blocks-cover" style="overflow: hidden;">
      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
            <img src="images/undraw_metrics_gtu7.svg" alt="Image" class="img-fluid img-absolute"/>

            <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
              <div class="col-lg-6 mr-auto">
                <h1>Windham Insights</h1>
                <p class="mb-5">Reading resources for the informed analyst.</p>
                <div>
                  <a href="https://insights.windhamlabs.com" class="btn btn-primary mr-2 mb-2">Launch!</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
