---
title: Windham Labs &mdash; Privacy Policy
layout: base.njk
permalink: /privacy-policy.html
---

    <div class="site-section" style="overflow: hidden;">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <p>&nbsp;<br/>&nbsp;<br/>&nbsp;</p>
            <h2 class="section-title">Website Privacy Policy</h2>
              <p>Windham Capital Management, LLC and its operating technology division Windham Labs (hereinafter referred to as “Windham”) respects your privacy and is committed to collecting, maintaining and using personal data about you responsibly. This Privacy Policy (Policy), together with any documents referenced herein, outlines the ways in which we collect and use information from you when you use our websites windhamcapital.com, windhamwealth.com and windhamlabs.com. When using our websites, you may click on links to other websites. This Policy only applies to our websites. When you follow links to other websites you should read their respective privacy policies.</p>

              <p>This Policy does not apply to personal information you might provide to us or we might collect in the context of our providing investment advisory services. Windham’s privacy policy for its private funds within the relevant fund offering materials and Windham’s Wealth Management Account Privacy Policy distributed to all clients govern these relationships.</p>

              <p>Please read this Policy carefully. Your continued use of this site after any change in this Policy will constitute your acceptance of such change.</p>

              <p>You can contact us about any queries you have regarding this Policy at <a href="mailto:communications@windhamcapital.com">communications@windhamcapital.com</a>.</p>

              <p>&nbsp;</p>

              <h3>Personal Data</h3>
              <p>The term “Personal Data” as used in this Policy refers to any information relating to an identified or identifiable natural person (“data subject”); an identifiable person is one who can be identified, directly or indirectly, in particular by reference to an identification number or to one or more factors specific to his/her physical, physiological, mental, economic, cultural or social identity.</p>

              <p>Personal Data does not include data from which you can no longer be identified, such as anonymized aggregate data.</p>

              <p>&nbsp;</p>

              <h3>Data We Collect From You and How We Use It</h3>

              <p>The data collected via the website varies dependent on how you interact and use the site.</p>

              <p>In general, you may browse our website without providing any personally identifiable information about yourself.</p>

              <p>Non-personally identifiable and technical information is collected automatically when you visit our website such as the type of operating system, the type of browser you are using, and your IP address. We use this information for internal purposes such as to administer the site, better understand how the site is being used and improve usability.</p>

              <p>As is common practice with almost all professional websites, we use Cookies to collect this information. Cookies are small files that are downloaded to your computer, to improve your experience. You are free to decline Cookies if your browser permits, such as by disabling Cookies in the preferences or options menus in your browser, but doing so may limit your ability to view or use our site.</p>

              <p>Personal Data is collected when submitted directly by you through our website for such purposes as subscribing to firm mailing lists, registering for events or webinars, or requesting information. The types of Personal Data requested and collected via the website may include:</p>

              <ul>
                <li>Basic information, such as your name, your employer, your title, or position and relationship to a person;</li>
                <li>Contact information, such as your physical address, e-mail address, and phone number(s);</li>
                <li>Information you provide to us for the purposes of attending meetings and events, including access and dietary requirements;</li>
                <li>Any other information relating to you which you may provide to us.</li>
              </ul>

              <p>If you join one of more of our mailing lists or otherwise submit Personal Data to us through our site, we will process that information for the purpose for which it was collected.</p>

              <p>&nbsp;</p>

              <h3>How Personal Data is Shared</h3>

              <p>We may share your information with our trusted third party service providers, including such technology providers as website and mailing list hosting services. In sharing information with service providers, we ensure that your data is kept secured and used only in accordance with this Policy.</p>

              <p>We reserve the right to disclose Personal Data if required by law or if we reasonably believe that use or disclosure is necessary to protect our rights and/or to comply with judicial or regulatory proceedings, a court order or other legal process.</p>

              <p>California’s “Shine The Light” law permits California residents to annually request and obtain information free of charge about what personal information is disclosed to third parties for direct marketing purposes in the preceding calendar year.  Windham does not distribute your personal information to outside parties for their direct marketing.</p>

              <p>&nbsp;</p>

              <h3>Transfer of Information Across National Borders </h3>

              <p>This site is hosted on servers located in the U.S. and all data is expected to remain in the U.S.</p>

              <p>&nbsp;</p>
              <h3>Security</h3>

              <p>The safety of your Personal Data is important to us. The Firm uses various technical and organizational measures to ensure that your data is secure. These measures include encryption and intrusion detection and prevention technologies. However, the transmission of information via the Internet is not completely secure and while we take appropriate measures to safeguard against unauthorized disclosures of information, we cannot guarantee the security of your data.</p>

              <p>&nbsp;</p>

              <h3>How Long Personal Data is Retained</h3>

              <p>We only retain Personal Data for as long as necessary to fulfill the purposes for which it was collected and processed, including for the purposes of satisfying any legal, regulatory, accounting or reporting requirements.</p>

              <p>We will delete your Personal Data when it is no longer reasonably required for the permitted uses or you withdraw your consent (where applicable), provided that we are not legally required or otherwise permitted to continue to hold such data. We may retain your Personal Data for an additional period to the extent deletion would require us to overwrite our automated disaster recovery backup systems or to the extent we deem it necessary to assert or defend legal claims during any relevant retention period.</p>

              <p>&nbsp;</p>

              <h3>Your Rights</h3>

              <p>You have certain rights over your Personal Data, including the right to withdraw consent.</p>

              <p>In circumstances in which the GDPR applies you may:</p>

              <ul>
                <li>Require us to rectify the Personal Data we hold about you, where that data is incorrect;</li>
                <li>Require that we restrict the processing of your Personal Data in certain circumstances;</li>
                <li>Request access to the Personal Data that we hold about you;</li>
                <li>Require that, in certain circumstances, we delete the Personal Data we hold about you;</li>
                <li>Require that we provide you with the information that we hold about you in a structured, commonly used and machine-readable format; and/or</li>
                <li>Withdraw your consent to the collection or processing of your Personal Data for marketing purposes at any time.</li>
                <li>You also have the right to complain to your local regulator about our data processing activities in relation to your Personal Data if you think they infringe applicable data protection laws.</li>
              </ul>

              <p>&nbsp;</p>

              <h3>Changes to this Policy</h3>

              <p>We reserve the right to update this Policy at any time, and we will make an updated copy of such Policy available on our website.<br/>
              This Policy was last updated March 2023.</p>
          </div>
        </div>
      </div>
    </div>
