    <div class="site-section" style="overflow: hidden;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8 text-center">
            <p>&nbsp;<br/>&nbsp;<br/>&nbsp;</p>
            <h2 class="section-title">Guru Meditation Error {{ errorCode }}</h2>
            {{ errorBody | safe }}
            <p class="mt-4 mb-0"><a href="index.html" class="btn btn-primary">Return to homepage</a></p>
          </div>
        </div>
      </div>
    </div>
