---
title: Windham Labs &mdash; Excel Lab
layout: base.njk
permalink: /products/excel-lab.html
---

    <div>
      <p>&nbsp;</p>
    </div>

    <div class="site-section" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <p>&nbsp;<br/>&nbsp;<br/>&nbsp;</p>
            <h2 class="section-title mb-3">Excel Lab</h2>
            <p>Leverage Windham's quantitative modeling library for asset allocation, factor analysis, and risk management in Excel. Run optimizations, simulations, complex regressions, and risk analytics to develop your portfolio modeling spreadsheets beyond its limits!</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-6" data-aos="fade-right">
            <script src="https://fast.wistia.com/embed/medias/gxhqhsfora.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_gxhqhsfora popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>
          </div>
          <div class="col-lg-5 ml-auto pl-lg-5">
            <h2 class="text-black mb-4 h3 font-weight-bold">Features</h2>
            <p class="mb-4">
              <ul>
                <li>Robust Microsoft Excel Add-in for asset owners, portfolio managers, and analysts</li>
                <li>Run optimizations, simulations, complex regression models, and more</li>
                <li>Build backtests, asset allocation, and risk management workbooks without any coding</li>
                <li>Stateless math and portfolio theory functions at your fingertips</li>
              </ul>
            </p>

            <div style="text-align:center">
              <a href="https://book.vimcal.com/p/ckulasekaran/windham" class="btn btn-primary mr-2 mb-2">Request a Demo!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
