---
title: Windham Labs &mdash; Windham Portfolio Advisor&reg;
layout: base.njk
permalink: /products/windham-portfolio-advisor.html
---

    <div>
      <p>&nbsp;</p>
    </div>

    <div class="site-section" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <p>&nbsp;<br/>&nbsp;<br/>&nbsp;</p>
            <h2 class="section-title mb-3">The Windham Portfolio Advisor&reg;</h2>
            <p>The Windham Portfolio Advisor (WPA) is currently our flagship technology platform for efficient portfolio construction and sophisticated risk management. It has been developed for the most sophisticated institutional investors - including plan sponsors, endowments, foundations, investment managers, investment consultants, and brokerage firms to make informed asset allocation decisions. Its intuitive workflow makes performing complex analyses quick and easy. The graphical and reporting capabilities allow you to communicate financial concepts effectively.</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-6" data-aos="fade-right">
            <script src="https://fast.wistia.com/embed/medias/c3pw8j8pn9.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_c3pw8j8pn9 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/c3pw8j8pn9/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
          </div>
          <div class="col-lg-5 ml-auto pl-lg-5">
            <h2 class="text-black mb-4 h3 font-weight-bold">Features</h2>
            <p class="mb-4">
              <ul>
                <li>Develop capital market forecasts across various models</li>
                <li>Examine market behavior during periods of market turbulence and quiescence</li>
                <li>Construct optimal portfolios with multi-goal objectives</li>
                <li>Execute robust utility maximization with Full-Scale Optimization</li>
                <li>Estimate within-horizon exposure to loss analytically and by simulation</li>
                <li>Stress test portfolios under various conditions</li>
                <li>Model cash flows for wealth and income analysis</li>
              </ul>
            </p>

            <div style="text-align:center">
              <a href="https://book.vimcal.com/p/ckulasekaran/windham" class="btn btn-primary mr-2 mb-2">Request a Demo!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
